<!-- about section -->
<section class="about-section">

  <div class="about-block-1" id="about">
    <div class="container d-flex flex-column align-items-center">
      <header>
        <h2>{{.heading}}</h2>
        <p>{{.text}}</p>
      </header>
      <figure class="image d-xl-block d-lg-block d-none"><img src="/img/about-section-image-1.png" alt=""></figure>
      <figure class="image d-xl-none d-lg-none d-block"><img src="/img/about-section-image-1-mobile.png" alt=""></figure>
      <div class="arrow"></div>
    </div>
  </div>