<div class="about-block-2" id="dev">
  <div class="container">
    <div class="row">
      <div class="info col-xl-6 col-lg-6">
        <h2>{{.develop.heading}}</h2>
        <p>{{.develop.text}}</p>
      </div>
      <div class="col-xl-6 col-lg-6 position-relative">
        <figure class="image"><img src="/img/about-section-image-2.png" alt=""></figure>
      </div>
    </div>
    <footer class="row">
      {{ range .products }}
      <article class="col-xl col-lg d-flex align-items-center">
        <figure><img src="{{.image}}" alt=""></figure>
        <div class="text">{{.text}}</div>
      </article>
      {{ end }}
    </footer>
  </div>
</div>