<footer class="d-none bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p>Get awesome news from us in your inbox every two weeks. Be the first to learn about new products.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Kaldi</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Our products</a></li>
					<li><a href="/values" class="link">About</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li>
					<li><a href="/contact" class="link">Schedule and appointment</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>



	<!-- footer section -->
	<section class="footer-section">
		<div class="container d-flex flex-column align-items-center">

			<a href="/" class="footer-logo"><img src="/img/footer-logo.svg" alt=""></a>
			<div class="subtitle">Computational Component of Polkadot Network.</div>

			<nav class="footer-menu">
				<ul class="d-flex">
					<li><a class="anchor" href="#dev">Our Team</a></li>
					<li><a class="anchor" href="#about">About the company</a></li>
					<li><a href="/events">Events</a></li>
					<li><a href="/news">News</a></li>
					<li><a class="anchor" href="#community">Community</a></li>
					<li><a href="https://wiki.gear-tech.io/" target="_blank">Wiki</a></li>
					<li><a class="anchor" href="#contacts">Contact Us</a></li>
				</ul>
			</nav>

			<div class="social-links">
				<a href="https://twitter.com/gear_techs" target="_blank" class="social-link">
					<img src="img/footer-social-icon-1.svg" alt="">
				</a>
				<a href="https://github.com/gear-tech" target="_blank" class="social-link">
					<img src="img/footer-social-icon-2.svg" alt="">
				</a>
				<a href="https://discord.gg/7BQznC9uD9" target="_blank" class="social-link">
					<img src="img/footer-social-icon-3.svg" alt="">
				</a>
				<a href="https://medium.com/@gear_techs" target="_blank" class="social-link">
					<img src="img/footer-social-icon-4.svg" alt="">
				</a>
			</div>

			<div id="contacts">
				<a href="mailto:hello@gear-tech.io">hello@gear-tech.io</a>
			</div>

			<div class="copyrights">
				This website is maintained by Gear Tech Inc. 
				<br>The contents and opinions of this website are those of Gear Tech Inc.
			</div>

		</div>
	</section>
	<!-- end footer section -->

</div>
<!-- end wrapper -->


<script src="/app.js"></script>

