<nav class="d-none overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/products" class="pa3 no-underline db">Products</a></li>

		<li><a href="/values" class="pa3 no-underline db">Values</a></li>

		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>








<!-- wrapper -->
<div class="wrapper">

	<!-- header section -->
	<section class="header-section">
		<div class="container">

			<nav class="navbar navbar-expand-lg navbar-dark justify-content-between p-0 w-100">
				<a href="/" class="logo navbar-brand mr-0"><img src="/img/logo.svg" alt=""></a>
				<button id="burger-icon" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="head-menu-box collapse navbar-collapse" id="navbarMain">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link anchor" href="#dev">Our Team</a></li>
						<li class="nav-item"><a class="nav-link anchor" href="#about">About</a></li>
						<li class="nav-item"><a class="nav-link" href="events.html">Events</a></li>
						<li class="nav-item"><a class="nav-link" href="news.html">News</a></li>
						<li class="nav-item"><a class="nav-link anchor" href="#community">Community</a></li>
						<li class="nav-item"><a class="nav-link" href="https://wiki.gear-tech.io/" target="_blank">Wiki</a></li>
						<li class="nav-item"><a class="nav-link anchor" href="#contacts">Contact Us</a></li>
					</ul>
					<div class="social-links">
						<a href="https://twitter.com/gear_techs" target="_blank" class="social-link">
							<img src="/img/social-icon-1.svg" alt="">
						</a>
						<a href="https://github.com/gear-tech" target="_blank" class="social-link">
							<img src="/img/social-icon-2.svg" alt="">
						</a>
						<a href="https://discord.gg/7BQznC9uD9" target="_blank" class="social-link">
							<img src="/img/social-icon-3.svg" alt="">
						</a>
						<a href="https://medium.com/@gear_techs" target="_blank" class="social-link">
							<img src="/img/social-icon-4.svg" alt="">
						</a>
					</div>
				</div>
			</nav>

		</div>
	</section>
	<!-- end header section -->
