<!-- top section -->
<section class="top-section d-flex flex-column justify-content-center align-items-center">
  <div class="container">
    <header>
      <h1>{{.title}}</h1>
      {{ if .subtitle }}
        <p>{{.subtitle}}</p>
      {{ end }}
    </header>
    <div class="video-box">
      <a data-fancybox="video-gallery" data-src="https://www.youtube.com/embed/m8FqprMPzh0"><img src="/img/video-image.jpg" alt=""></a>
    </div>
    <div class="buttons-line">
      <a href="https://idea.gear-tech.io" target="_blank" class="btn btn-success mx-2">Build Now</a>
      <a href="#community" class="btn btn-light mx-2 anchor">Join Our Community</a>
    </div>
    <div class="arrow"></div>
  </div>
</section>
<!-- end top section -->