<!-- cases section -->
<section class="cases-section" id="cases">
	<div class="container d-flex flex-column align-items-center">
	  <header>
		<h2>{{.heading}}</h2>
		{{.text}}
	  </header>
	  
	  <div class="row">
		<div class="col-xl-4 col-lg-6">
		  <div class="case-box media">
			<figure><img src="img/case-icon-1.png" alt=""></figure>
			<div class="media-body">
			  <h5 class="mt-0">Decentralized Finance (DeFi)</h5>
			  <p class="d-xl-block d-lg-block d-md-block d-none">A blockchain based form of finance that does not rely on centralized financial institutions, instead utilizing smart contracts and blockchain technology to empower users and transcend borders.</p>
			  <p class="d-xl-none d-lg-none d-md-none d-block">An open alternative to the current financial system that transcends borders.</p>
			</div>
		  </div>
		</div>
		<div class="col-xl-4 col-lg-6">
		  <div class="case-box media">
			<figure><img src="img/case-icon-2.png" alt=""></figure>
			<div class="media-body">
			  <h5 class="mt-0">Decentralized Autonomous Orgs (DAOs)</h5>
			  <p class="d-xl-block d-lg-block d-md-block d-none">An innovative organization represented by rules encoded into smart contracts that runs autonomously and without the requirement of centralised individuals and parties.</p>
			  <p class="d-xl-none d-lg-none d-md-none d-block">A new way to organize, fund, and empower communities that is democratic by default.</p>
			</div>
		  </div>
		</div>
		<div class="col-xl-4 col-lg-6">
		  <div class="case-box media">
			<figure><img src="img/case-icon-3.png" alt=""></figure>
			<div class="media-body">
			  <h5 class="mt-0">Non-fungible Tokens (NFTs)</h5>
			  <p>A way to represent any asset on the blockchain, to enable easier and more efficient trade and management.</p>
			</div>
		  </div>
		</div>
		<div class="col-xl-4 col-lg-6">
		  <div class="case-box media">
			<figure><img src="img/case-icon-4.png" alt=""></figure>
			<div class="media-body">
			  <h5 class="mt-0">Staking</h5>
			  <p>A method that enables people to lock some of their cryptocurrencies as a way to contribute to securing a blockchain network.</p>
			</div>
		  </div>
		</div>
		<div class="col-xl-4 col-lg-6">
		  <div class="case-box media">
			<figure><img src="img/case-icon-5.png" alt=""></figure>
			<div class="media-body">
			  <h5 class="mt-0">Wallets</h5>
			  <p>A device, program or service that securely stores an individual's cryptocurrency without third party sovereignty.</p>
			</div>
		  </div>
		</div>
		<div class="col-xl-4 col-lg-6">
		  <div class="case-box media">
			<figure><img src="img/case-icon-6.png" alt=""></figure>
			<div class="media-body">
			  <h5 class="mt-0">Tools&Explorers</h5>
			  <p class="d-xl-block d-lg-block d-md-block d-none">A search engine that allows you to search for a particular piece of information on a blockchain.</p>
			  <p class="d-xl-none d-lg-none d-md-none d-block">New way to organize, fund, and empower communities that is democratic by default.</p>
			</div>
		  </div>
		</div>
		<div class="col-xl-4 col-lg-6">
		  <div class="case-box media">
			<figure><img src="img/case-icon-7.png" alt=""></figure>
			<div class="media-body">
			  <h5 class="mt-0">Web3/eCommerce</h5>
			  <p class="d-xl-block d-lg-block d-md-block d-none">The third generation of internet services for websites and applications that will focus on using blockchain-based technology to provide more intelligent, connected and open services.</p>
			  <p class="d-xl-none d-lg-none d-md-none d-block">A new way to organize, fund, and empower communities that is democratic by default.</p>
			</div>
		  </div>
		</div>
		<div class="col-xl-4 col-lg-6">
		  <div class="case-box media">
			<figure><img src="img/case-icon-8.png" alt=""></figure>
			<div class="media-body">
			  <h5 class="mt-0">Oracles</h5>
			  <p>An important third party service that provides blockchains and smart contracts with “off-chain” data from the physical world.</p>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  <!-- end cases section -->