{{ define "main" }}

<!-- news tabs section -->
<section class="news-tabs-section">
  <div class="container">

    <!-- news tabs -->
    <div class="news-tabs">
      <nav class="nav-tab-line">
        <h2>The Latest from Gear</h2>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">All</a>
          <a class="nav-item nav-link" id="nav-technical-tab" data-toggle="tab" href="#nav-technical" role="tab" aria-controls="nav-technical" aria-selected="false">Technical</a>
          <a class="nav-item nav-link" id="nav-updates-tab" data-toggle="tab" href="#nav-updates" role="tab" aria-controls="nav-updates" aria-selected="false">Updates</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
          <div class="events-list row">

            {{ range .Pages.ByPublishDate.Reverse }}
            <div class="col-xl-4 col-lg-6 col-md-6 mb-4">
              {{ .Render "news-box"}}
            </div>
            {{ end }}

          </div>
        </div>

        <div class="tab-pane fade" id="nav-technical" role="tabpanel" aria-labelledby="nav-technical-tab">
          <div class="events-list row">

            {{ range .Pages.GroupByDescription "workshop" }}
            <div class="col-xl-4 col-lg-6 col-md-6 mb-4">
              {{ .Render "news-box"}}
            </div>
            {{ end }}

          </div>
        </div>

        <div class="tab-pane fade" id="nav-updates" role="tabpanel" aria-labelledby="nav-updates-tab">
          <div class="events-list row">

            {{ range .Pages.ByPublishDate.Reverse }}
            <div class="col-xl-4 col-lg-6 col-md-6 mb-4">
              {{ .Render "news-box"}}
            </div>
            {{ end }}

          </div>
        </div>
        
      </div>
    </div>
    <!-- end news tabs -->
  
    <div class="button-line row justify-content-center">
      <div class="col-xl-4 col-lg-6 col-md-6">
        <a href="https://medium.com/@gear_techs" target="_blank" class="btn btn-light btn-md w-100">View more on Medium</a>
      </div>
    </div>

    <div class="medium-banner">
      <div class="inner-bg">
        <h2>Gear on medium</h2>
        <p>To stay up to date with our latest announcements and updates...</p>
        <a href="https://medium.com/@gear_techs" target="_blank" class="btn btn-success"><span class="d-xl-inline d-lg-inline d-md-inline d-sm-inline d-none">Follow</span> gear on medium</a>
      </div>
    </div>

  </div>
</section>
<!-- end news tabs section -->

{{end}}
