
{{ define "main" }}

  <div class="d-none">tags: ['{{ .Description }}']</div>

  <!-- events banner section -->
  <section class="events-banner-section">
    <figure class="events-banner-section-bg">{{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}</figure>
    <div class="container">
      <div class="row align-items-center">
        <div class="info col-xl-6 col-lg-6 col-md-6">
          <h3>{{.Title}}</h3>
          <div class="buttons-line d-flex align-items-center">
            <a href="{{ .Params.link }}" class="btn btn-light btn-sm anchor">
              View <span class="d-xl-inline d-lg-inline d-md-none d-sm-inline d-none">{{ .Params.linkText }}</span>
            </a>
            <div class="social-links">
              <a href="https://twitter.com/gear_techs" target="_blank" class="social-link">
                <img src="img/social-icon-1.svg" alt="">
              </a>
              <a href="https://github.com/gear-tech" target="_blank" class="social-link">
                <img src="img/social-icon-2.svg" alt="">
              </a>
              <a href="https://discord.gg/7BQznC9uD9" target="_blank" class="social-link">
                <img src="img/social-icon-3.svg" alt="">
              </a>
              <a href="https://medium.com/@gear_techs" target="_blank" class="social-link">
                <img src="img/social-icon-4.svg" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 event-image">
          <figure>{{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}</figure>
        </div>
      </div>
    </div>
  </section>
  <!-- end top banner section -->

  <!-- events section -->
  <section class="events-section">
    <div class="container">

      <div class="row">
        <div class="event-info-box col-xl-6 col-lg-6 col-md-6 pr-xl-4 pr-lg-4 pr-md-4">
          <div class="title-line">
            <div class="title gray-text">About event</div>
            <div class="line"></div>
          </div>
          {{ .Content }}
        </div>
        <div class="event-info-box col-xl-6 col-lg-6 col-md-6 pl-xl-4 pl-lg-4 pl-md-4">
          <div class="title-line">
            <div class="title gray-text">Event details</div>
            <div class="line"></div>
          </div>
          <ul class="event-info-list">
            <li class="icon-1">{{ .Description }}</li>
            <li class="icon-2">{{ dateFormat "15:04 MST, 02 January" .Date.UTC }}</li>
            <li class="icon-3">{{ .Params.location }}</li>
          </ul>
        </div>
      </div>

      <div class="events-list-block gallery" id="gallery">
        <header>
          <div class="title-line">
            <div class="title gray-text">Event video & photo</div>
            <div class="line"></div>
          </div>
        </header>
        <div class="events-list row">
          {{ range .Params.eventVideo }}
          <div class="col-xl-4 col-lg-6 col-md-6 mb-4">
            <article class="event-box">
              <a class="video-gallery-link" data-fancybox="video-gallery" data-src="{{.videoLink}}"><img src="{{.videoImage}}" class="w-100" alt=""></a>
            </article>
          </div>
          {{ end }}
          {{ range .Params.eventImage }}
          <div class="col-xl-4 col-lg-6 col-md-6 mb-4">
            <article class="event-box">
              <a class="video-gallery-link" data-fancybox="video-gallery" data-src="{{.image}}"><img src="{{.image}}" class="w-100" alt=""></a>
            </article>
          </div>
          {{ end }}
        </div>
      </div>
      
      <div class="events-list-block">
        <header>
          <div class="title-line">
            <div class="title gray-text">Related events</div>
            <div class="line"></div>
          </div>
          <a href="/events" class="btn btn-light btn-sm">Back to all events</a>
        </header>
      </div>

    </div>
  </section>
  <!-- end events section -->

{{ end }}
